extends ./layout.pug

block content
 div(class='divTCenter')
  - var desc = '' 
  if cc.HasPrecipitation && (cc.PrecipitationType == 'Rain' || cc.PrecipitationType == 'Mixed')
    h1 Yes!
  else
    - desc = 'NOT'
    h1 No!
  h3 #{pet.name} is #{desc} going to need an umbrella in #{pet.location}.
 br
 a(href='/' class='aCenter') Lookup a different pet