body {
    font-family: Arial, Helvetica, sans-serif;
}
.mainContainer {
    width: 95%;
    margin: 0 auto;
}
.petTable {
	display: table;
    width: 100%;
    border: 2px solid #999999;
}
.petTableRow {
	display: table-row;
}
.petTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.petTableCell, .petTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.petTableHead {
    background-color: #DDD;
    font-weight: bold;
}
.petOddRow {
    background-color: #EEE;
}
.petTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.petTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.petTableBody {
	display: table-row-group;
}
.aCenter {
	display:block;text-align:center;
}
.divTCenter {
    text-align: center;
}
form {
	width: 80%;
	margin: 0 auto;
}
label, input {
	display: inline-block;
}
label {
	width: 30%;
	text-align: right;
}
label+input {
	width: 30%;
	margin: 0 30% 0 4%;
}
.sButton {
	display: flex;
	justify-content: center;
	align-items: center;
}